NEXT_PUBLIC_DERIVERSE_PROGRAM_ID=
NEXT_PUBLIC_RPC_HTTP=https://api.devnet.solana.com
NEXT_PUBLIC_RPC_WS=wss://api.devnet.solana.com

NEXT_PUBLIC_DERIVERSE_VERSION=
NEXT_PUBLIC_TOKEN_MINT_A=
NEXT_PUBLIC_TOKEN_MINT_B=

# Our custom smart contract
NEXT_PUBLIC_DERIVERSE_ANALYTICS_PROGRAM_ID=

#localhost
# NEXT_PUBLIC_DERIVERSE_ANALYTICS_NETWORK=localnet
# NEXT_PUBLIC_DERIVERSE_ANALYTICS_RPC_HTTP=http://127.0.0.1:8899

# devnet
NEXT_PUBLIC_DERIVERSE_ANALYTICS_NETWORK=devnet
# incase you use a different network from the deriverse-network above
NEXT_PUBLIC_DERIVERSE_ANALYTICS_RPC_HTTP=


# Feature Flags
NEXT_PUBLIC_TESTING=false

# ai integrations
GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# Google api integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=